{% extends 'estore/layouts/main.html' %}

{% block title %}My Wishlist{% endblock %}

{% block content %}

<!-- Breadcrumb Section -->
<div class="py-3 bg-secondary shadow-sm">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb
        -item"><a class="text-light
        " href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-light" href="{% url 'wishlist_view' %}">My Wishlist</a></li>
      </ol>
    </nav>
  </div>
</div>


<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-4">My Wishlist</h1>
        <hr>
        <div class="card shadow">
          <div class="card-body wish-data">
            {% if wishlist_items %}
            {% for item in wishlist_items %}
            <div class="row product_data">
              <div class="col-md-2 my-auto">
                <img src="{{ item.product.product_image.url }}" height="70px" width="80px"
                  alt="{{ item.product.name }}">
              </div>
              <div class="col-md-3 my-auto">
                <h5>{{ item.product.name }}</h5>
                <p class="text-muted
                  ">{{ item.product.category.name }}</p>
                  {% if item.product.quantity > 0 %}
                  <p class="text-success">In Stock</p>
                  {% else %}
                  <p class="text-danger">Out of Stock</p>
                  {% endif %}

              </div>
              <div class="col-md-2 my-auto">
                <h6 class="text-muted
                    text-decoration-line-through">&#8377; {{ item.product.original_price }}</h6>
                <h6 class="text-danger">&#8377; {{ item.product.discount_price }}</h6>
              </div>
              <div class="col-md-3 my-auto">
                <input type="hidden" value="{{ item.product_id }}" class="product_id">
                {% csrf_token %}
                <a href="{% url 'product_detail' item.product.category.slug item.product.slug%}" class="btn btn-sm btn-primary"><i class="bi bi-eye"></i> View Product</a>
              </div>
              <div class="col-md-2 my-md-auto mt-2">
                <button class="btn btn-sm btn-danger removeWishlistItem" data-id="{{ item.id }}"><i class="bi bi-trash3"></i>
                  Remove</button>
              </div>
            </div>
            <hr>
            {% endfor %}
            {% else %}
            <div class="text-center my-5">
              <h1><i class="bi bi-heartbreak-fill"></i></h1>
              <h3>Your Wishlist is Empty</h3>
              <p class="text-muted
                ">Looks like you haven't added anything to your wishlist yet.</p>
              <a href="{% url 'categories' %}" class="btn btn-outline-primary mt-3">Explore Products</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const removeWishlistItemUrl = "{% url 'remove_wishlist_item' %}";

</script>

{% endblock %}