<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
  <div class="container py-2">
    <!-- Brand Logo -->
    <a class="navbar-brand fst-italic fw-bold btn btn-outline-warning shadow-md rounded-pill px-4"
      href="{% url 'home' %}">
      Shopee
    </a>

    <!-- Toggler for Mobile View -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active text-danger{% endif %}"
            href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'categories' %}active text-danger{% endif %}"
            href="{% url 'categories' %}">Categories</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{ request.user.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="{% url 'cart_view' %}" class="nav-link">
            <i class="bi bi-cart3"></i>
            <span id="cart-badge" class="badge bg-danger rounded-pill">{{ cart_items_count }}</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'wishlist_view' %}" class="nav-link">
            <i class="bi bi-heart"></i>
            <span id="wishlist-badge" class="badge bg-danger rounded-pill">{{ wishlist_items_count }}</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'login' %}" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'register' %}" class="nav-link">Register</a>
        </li>
        {% endif %}
      </ul>

      <!-- Search Bar -->
      <div class="search-bar mt-3 mt-lg-0 d-flex justify-content-center w-100">
        <form action="{% url 'search_product' %}" method="post">
          {% csrf_token %}
          <div class="input-group">
            <input type="search" class="form-control rounded-start" id="searchProducts" name="product-search"
              placeholder="Search for products" required>
            <button type="submit" class="btn btn-outline-secondary rounded-end">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>