<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container my-2">
    <a class="navbar-brand fst-italic fw-bold border btn btn-outline-warning shadow-md rounded-pill border border-danger px-5"
      href="{% url 'home' %}">Shopee</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active text-danger{% endif %} fs-5" aria-current="page"
            href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'categories' %}active text-danger{% endif %} fs-5"
            href="{% url 'categories' %}">Categories</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ request.user.username }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fs-5" href="#">Profile</a></li>
            <li><a class="dropdown-item fs-5" href="#">Settings</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-danger fs-5" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'login' %}"
            class="nav-link {% if request.resolver_match.url_name == 'login' %}active text-danger{% endif %} fs-5">Login</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'register' %}"
            class="nav-link {% if request.resolver_match.url_name == 'register' %}active text-danger{% endif %} fs-5">Register</a>
        </li>
        {% endif %}

        <!-- Cart Icon with Badge -->

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'cart_view' %}"
            class="nav-link {% if request.resolver_match.url_name == 'cart_view' %}active text-danger{% endif %}">
            <i class="bi bi-cart3 fs-4"></i>
            <span id="cart-badge" class="badge bg-danger rounded-pill">{{ cart_items_count }}</span>
          </a>
        </li>
        

        <li class="nav-item">
          <a href="{% url 'wishlist_view' %}"
            class="nav-link {% if request.resolver_match.url_name == 'wishlist_view' %}active text-danger{% endif %}">
            <i class="bi bi-heart fs-4"></i>
            <span id="wishlist-badge" class="badge bg-danger rounded-pill ">{{ wishlist_items_count }}</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>